
.main-body{
    background: rgba(62, 80, 98, 0.1);
}


.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.bolder{
    font-weight: 800;
}

.devola{
    color: $primary;
    font-weight: 800;
}
